button {
    background-color: #F9AA33;
    color: black;
    border-radius: 9px;
    border: 0px solid;
    width: 180px;
    height: 30px;
}

button.createTravel {
    margin-left: 43.5%;
    margin-top: 10px;
}

body {
    background-color: #fafafa;
}

div.greetings {
    text-align: center;
    height: 60px;
    width: 100%;
    background: aquamarine;
}

div.point {
    border: 1px solid #777777;
    padding: 15px;
    border-radius: 8px;
}

div.in {
    font-family: Roboto;
    margin-left: 15px;
}

div.name_of_Travel {
    font-family: Roboto;
}

div.note {
    font-family: Roboto;
    margin-left: 15px;
    text-align: left;
}

div.note_Travel {
    font-family: Roboto;
    position: relative;
    border: #777777 1px solid;
    margin: 15px;
    padding: 8px;
    border-radius: 8px;
}

p.hey {
    position: relative;
    top: 37%;
}

select {
    background-color: #F9AA33;
    border: 1px solid;
    border-radius: 4px 4px 4px 4px;
    font-family: Roboto;
}

input {
    background-color: #F9AA33;
    border: 1px solid;
    border-radius: 4px 4px 4px 4px;
    height: 20px;
    width: 95%;
    position: relative;
}

textarea {
    background-color: #F9AA33;
    border: 1px solid;
    border-radius: 4px 4px 4px 4px;
    width: 60%;
    height: 45px;
}

ol{
    counter-reset: myCounter;
}

li {
    list-style: none;
}

li:before {
    counter-increment: myCounter;
    content:counter(myCounter);
    color: black;
    border-radius: 20px;
    background: #F9AA33;
    display: inline-block;
    text-align: center;
    margin: 15px 10px;
    line-height: 40px;
    width: 40px;
    height: 40px;
}